body {
  font-family: Arial;
  padding: 15px;
}

input, select, textarea, button {
  width: 100%;
  margin: 8px 0;
  padding: 10px;
}

canvas {
  border: 1px solid #000;
}

button {
  background: #2b7cff;
  color: white;
  border: none;
}
